/* Labels del form */
/* .lemail, .LblPassword{
    background: none;
    border: none;
    padding-top: 15px;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
} */

h1{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 25px;
}

input[type = email]{
    font-family: sans-serif;
    padding: 5px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    font-size: 140%;
    margin-top: 10px;
    margin-bottom: 28px;
}
/* Input Password */
input[type = password]{
    font-family: sans-serif;
    padding: 5px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    font-size: 140%;
    margin-top: 10px;
    margin-bottom: 28px;
}
/* Boton registrarse */
input[type = submit]{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 119, 160);
    margin-top: 30px;
    margin-bottom: 6%;
}
input[type = submit]:hover{
    background-color: rgb(30, 39, 141);
}

.Signin{
    font-family: sans-serif;
    text-align: center;
}

.divForm{
    padding: 35px;
    padding-top: 20px;
    border-radius: 15px;
    max-width: 100%;
    /* background-color: rgb(151, 26, 26); */
    background-color: white;
    opacity: 95%;
}
.divPrincipal{
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
}

