
<div class="divPrincipal">
    <form action="">
        <div class="divForm">
            <label class="lnombre">Nombre(s):</label>
            <input type="text" placeholder="Ingrese su nombre" required>

            <label class="LblApellido">Apellido(s):</label>
            <input type="text" placeholder="Ingrese su Apellido" required>

            <label class="lemail">Ingrese su email:</label>
            <input type="email" placeholder="Ingrese su email" required>

            <label class="LblPassword">Ingrese su password (Maximo 6 caracteres):</label>
            <input type="password" placeholder="Ingrese su password" required>

            <input type="submit" value="Registrarse">
        </div>
    </form>
</div>