ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
border-radius: 12px;
position: sticky;
top: 0;
margin-left: 8%;
margin-right: 8%;
}

li {
float: left;
}

li a {
background-color: #333;
display: block;
color: azure;
padding: 20px 16px;
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
}

li a:hover {
    background-color: #e7e9bb;
}